/* Estilos para la barra de navegación */
.navbar {
  display: block;
  width: 100%;
  background: linear-gradient(90deg, black, #e44604, black);
}

.dropdown-toggle::after {
  color: white !important; /* Cambiar el color de la flecha a blanco */
}

.dropdown-menu {
  background: linear-gradient(90deg, #e44604, black);
}

.dropdown-item {
  color: #ffffff !important; /* Color del texto de los ítems del menú desplegable */
}

.dropdown-item:hover {
  background-color: #e44604; /* Color de fondo al pasar el ratón sobre el ítem del menú */
  color: #000000 !important; /* Color del texto al pasar el ratón sobre el ítem del menú */
}

.navbar-nav .nav-link,
.navbar-nav .dropdown-toggle {
  color: white;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}

.navbar-nav .dropdown-toggle {
  display: flex;
  align-items: center;
}

/* Estilo específico para el título del dropdown */
.navbar-nav .dropdown-toggle {
  color: white;
}

.navbar-nav .dropdown-toggle:hover {
  color: #e44604; /* Color del texto del título del dropdown al pasar el ratón */
}

.navbar-nav .fa-icon {
  margin-right: 0.5rem;
}

.navbar-nav .dropdown-menu {
  background-color: black;
  border: none;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item .nav-link,
.nav-item .dropdown-toggle {
  display: flex;
  align-items: center;
  color: white;
}

.nav-item .nav-link .fa-icon,
.nav-item .dropdown-toggle .fa-icon {
  color: white;
  margin-right: 0.5rem;
}

.navbar-nav-center {
  margin: 0 auto;
}

.offcanvas-top {
  background-color: black; /* Fondo negro del Offcanvas */
  color: white; /* Texto blanco */
}

.offcanvas-top .offcanvas-header .btn-close {
  filter: invert(1); /* Cambia el color del botón de cerrar a blanco */
}

/* Estilos para la lista de productos */
.product-list {
  display: flex;
  flex-direction: row; /* Cambia la dirección de los productos a fila */
  flex-wrap: wrap; /* Permite que los productos se envuelvan en la siguiente línea si no caben en una sola línea */
  gap: 1rem; /* Espacio entre productos */
}

.product {
  flex: 1; /* Permite que cada producto ocupe el espacio disponible */
  min-width: 100px; /* Ancho mínimo para cada producto, puedes ajustar según el diseño deseado */
  margin-bottom: 1rem; /* Espacio debajo de cada producto */
}

.product h5 {
  margin-bottom: 0.5rem;
}

.product ul {
  list-style: none;
  padding-left: 0;
}

.product ul li {
  margin-bottom: 0.5rem;
}

.product ul li a {
  color: white;
  text-decoration: none;
}

.product ul li a:hover {
  color: #e44604; /* Color del enlace al pasar el ratón */
}
